.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading div {
    width: 28vw;
    height: 1px;
    background-color: rgb(86, 84, 84);

}

.heading p{
    font-size: 2.2vmax;
    margin: 3vmax;
    font-family: sans-serif;
    color: gray;
}

