.offerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vmax;
}

.offerSection img{
    transition: all 1s;
    margin: 0 1vmax;
}

.offerSection img:hover{
    box-shadow: 6px 6px 15px gray;
    
}